<!DOCTYPE html>
<html>
    <head>
        <title>A-V Summarizer</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="s-heading">
            <h2>Audio-Visual Summarizer</h2>
        </div>
        <div class="s-disp">
            <form action="start" method="POST">
                <h5>Lecture Topic: <input class="s-in-topic" name="topic" type="text"> </h5>
                <h5>Lecturer's Name: <input class="s-in-name" name="name" type="text"> </h5>
                <h5>Duration: <input class="s-in-duration" name="dur" type="text"> hr</h5>
                <input class="s-button" type="submit" name="start" value="Start Lecture">
            </form>
        </div>
    </body>
</html>
